# 最上位の設定ファイルであることを宣言（これより上のフォルダを探しに行かせない）
root = true

# 全ファイル共通の設定
[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# C# ファイル固有の設定
[*.cs]
indent_size = 2
indent_style = space
tab_width = 2
